/* You can add global styles to this file, and also import other style files */
/* gets applied last */
*{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}


app-register{
  height:95%;
}

app-login{
  height:95%;
  // flex: 0 0 60%;
}

app-home{
  height: 94%;
}

app-carousel{
  height: 94%
}


.slick-prev,
.slick-next {
    top: 40% !important;
    // background-color: red !important;
    // color:blue !important;
    &:before {
      color: rgb(0, 37, 56, .9) !important;
    }
}
/* Material theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.logout{
  left: -2% !important;
}